<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwt.wwt_crm.mapper.RoleMapper">
    <!-- 角色映射结果 -->
    <resultMap id="RoleResult" type="com.wwt.wwt_crm.entity.Role">
        <id     column="role_id"     property="roleId" />
        <result column="role_name"      property="roleName" />
        <result column="create_time"    property="createTime" />
        <result column="update_time"    property="updateTime" />
        <result column="is_del"         property="isDel" />
        <collection  property="permissionList" javaType="java.util.List"  resultMap="PermissionResult" />
        <collection  property="departmentList" javaType="java.util.List"  resultMap="DepartmentResult" />
    </resultMap>

    <!-- 权限映射结果 -->
    <resultMap id="PermissionResult" type="com.wwt.wwt_crm.entity.Permission">
        <id column="perm_id" property="permId" />
        <result column="perm_name" property="permName" />
        <result column="url" property="url" />
        <result column="permission" property="permission" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>
    <!-- 部门映射结果 -->
    <resultMap id="DepartmentResult" type="com.wwt.wwt_crm.entity.Department">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SELECT * FROM role r LEFT
			 JOIN dept_role dr ON r.role_id = dr.role_id
			LEFT JOIN department d ON d.dept_id = dr.dept_id
    </sql>
    <select id="roleList" resultMap="RoleResult">
        <include refid="Base_Column_List" />
        WHERE r.is_del=0
    </select>

</mapper>
